<% if user_signed_in? && current_user.reports.find_by(reportable_id: @article.id, reportable_type: 'Article') %>
  <span id="report_button"> Reported</span>
<% else %>
  <span id="report_button"><%= link_to "Report Article", article_reports_path(article_id: @article.id), method: "post", remote: :true %></span>
<% end %>
